:root{
    --main-color: #352e2e;
    --second-color: #ca1a1a;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: var(--main-color);
    color: aliceblue;
}
main{
    margin: 20px 20% 20px 20%;
    background-color: var(--second-color);
    border: black 10px solid;
    border-radius: 10px;
    padding: 20px;
}
#title{
    margin-top: 0px;
    text-align: center;
    font-weight: 700;
}
#description{
    font-weight: bold;
}
form{
    text-align: center;
}
form label{
    text-align: left;
    display: block;
    margin: 20px auto 2px auto;
}
form input{
    width: 100%;
    height: 25px;
    padding: 0px;
    border: 0px;
}
#name-label{
    border-top: black 2px solid;
}
form .regularity-payment{
    display: flex;
    margin: 20px auto 2px auto;
}
.regularity, .payment{
    width: 40%;
}
form .checkboxes, .paymentservice{
    display: flex;
    align-items: center;
    margin: 20px auto 2px auto;
}
#receipt, #newsletter, #creditdebitcard, #paypal{
    width: 10%;
    height: auto;
}
.checkboxes label, .paymentservice label{
    margin: 0px;
}